In [0]:
CREATE TABLE employees
(id INT, name STRING, salary DOUBLE)

In [0]:
INSERT INTO employees
VALUES 
  (1, "Adam", 3500.0),
  (2, "Bella", 4020.5),
  (3, "Charlie", 4500.0),
  (4, "Diana", 5000.0),
  (5, "Eve", 2500.0),
  (6, "Fiona", 6200.0)

In [0]:
SELECT * FROM employees

In [0]:
DESCRIBE DETAIL employees

In [0]:
UPDATE employees
SET salary = salary + 100
WHERE name LIKE "A%"

In [0]:
SELECT * FROM employees